@media all and (max-width:750px){
    .container{
        width: 95vw;
    }
    header{
        font-size: 1.5rem;
    }

}

@media all and (max-width:1300px) and (min-width:750px){
    .container{
        width: 70vw;
    }
}